@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
html{
    background-color:  #008CFF;;
}

 body{
     width: 600px;
     margin: 0 auto;
     padding: 0 20px 20px 20px;
     backdrop-filter: blur(16px) saturate(180%);
     -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
 }
 h1{
     font-size: 60px;
     text-align: center;
 }
 h1{
     margin: 0;
     padding: 20px 0;
     color:#008CFF;
 }

 img{
     display: block;
     margin: 0 auto;
 }
 p, li{
     font-size: 16px;
     line-height: 2;
     letter-spacing: 1px;
 }